<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title>
      mailinho
    </title>
    <link href='/stylesheets/default.css' media='screen' rel='stylesheet' type='text/css'>
    <script src='/javascripts/default.js' type='text/javascript'></script>
  </head>
  <body>
    <div id='content'>
      <%= yield %>
    </div>
  </body>
</html>
